.wrap_Home {
  // height: 100vh;
  background-color: #f9f6f4;
}

.HomeRight {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}
.wrap_money {
  font-size: 25px;
  font-weight: bold;
}
