.WrapFilterModal {
  color: rgba(255, 153, 60, 1);
  border: 1px solid rgba(255, 153, 60, 1);
  text-align: center;
  font-size: 18px;
}
.WrapFilterModal_Luu {
  color: white;
  border: 1px solid rgba(255, 153, 60, 1);
  background-color: rgba(255, 153, 60, 1);
  font-size: 18px;
}
.WrapFilterTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contentFilter {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contentFilter_ve {
  margin-left: 70px;
}
.contentFilter_loai {
  margin-left: 65px;
}
.contentFilter_sk {
  margin-left: 30px;
}
.contentFilter_ngay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
