.pie-chart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrap_label_sum {
  color: #1e0d03;
}

.wrap_sum {
  display: flex;
  flex-direction: row;
}

.wrap_money {
  font-weight: 700;
}
